#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

CFLAGS   += -Wall -Wextra -pipe -g0 -O3 -march=native -fomit-frame-pointer
CXXFLAGS += -Wall -Wextra -pipe -g0 -O3 -march=native -fomit-frame-pointer

%:
	dh $@ --parallel

override_dh_clean:
	dh_clean
	rm -fr test/Makefile

override_dh_auto_configure:
	LIBS="$(LIBS)" dh_auto_configure -- --with-xmlrpc-c --disable-debug
